/* img {
    width: 120px;
    height: 120px;
    border-radius: 999px;
}
form {
    border: 1px solid #D7DFE2;
    width: 280px;
    border-radius: 5px;
    padding: 10px;
    
    margin: auto;
}

.font{
    font-size: small;
}
.container .container-2 {
    text-align: center;
    
}
.container .create{
    border:1px solid #D7DFE2 ;
    border-radius: 5px;
    width: 280px;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.container .forget{
    width: 280px;
    margin: auto;
    
    font-size: small;
    margin-top: 10px;
}
.container .forget .forget-1{
    float: right;
}
.button {
    width:200px;
    padding: 5px;
    background-color: #960001;
    color: white;
    border: none;
   
    
}
.input1 {
    width: 260px;
    padding: 5px;
    margin: 5px;
    
}
.create{
    cursor: pointer;
}
.forget-1{
    cursor: pointer;
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.img-login{
    width: 120px;
    height: 120px;
    border-radius: 999px;

}
.input1{

}
.container{
    text-align: center;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-start;
    /* height: 500px; */
    
}
#login-form{
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}
.font {
    float: left;
}
.button{
    width: 250px;
    height: 25px;
    background-color: #960001;
    color: white;
    border: none;
    margin: 5px;

}
.create {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    width: 260px;
    display: inline;
    margin-top: 5px;
    

    
}
.forget {
    cursor: pointer;
}